

.article__content{
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: auto!important;
    height: auto!important;
  }
}
.article__content{
  figure,
  blockquote,
  pre {
    margin: $spacer * 2 0;
  }
  ul,
  ol {
    padding-left: $spacer * 2;
  }
  pre {
    padding: $spacer;
    background: $dark;
    color: $code-color;
    border-radius: $border-radius;
  }
}

@include media-breakpoint-up(md) {
  .article__content{
    figure,
    blockquote,
    pre {
      margin: $spacer * 4 0;
    }
    h5:not(:first-child) {
      margin-top: $spacer * 3;
    }
    ul,
    ol {
      > li:not(:last-child) {
        margin-bottom: $spacer/2;
      }
    }
    pre {
      padding: $spacer * 2.25;
    }
  }
}





.article__header {
  margin-bottom: 10px;
}

.article {
}

.article__border {
}

.article__border {
  position: relative;
}

.article__container {
  @include make-container();
}

.article__row {
  @include make-row();

  &.has-border {
    .article:not(:last-child) {
      // margin-bottom: 20px;
      padding-bottom: 20px;
      &:after {
        content: "";
        position: absolute;
        bottom: 10px;
        // width: 100%;
        height: 1px;
        background-color: gray("300");
        left: 8px;
        right: 8px;
      }
    }
  }

  &.has-margin-bottom {
    .article {
      margin-bottom: 15px;
    }
  }

  &.has-border-mobile {
    @include media-breakpoint-down(md) {
      .article:not(:last-child) {
        // margin-bottom: 20px;
        padding-bottom: 20px;
        &:after {
          content: "";
          position: absolute;
          bottom: 10px;
          // width: 100%;
          height: 1px;
          background-color: gray("300");

          left: 5px;
          right: 5px;
        }
      }
    }
  }

  &.has-border-more {
    .article:not(:last-child) {
      padding-bottom: 32px;
      &:after {
        bottom: 16px;
      }
    }
  }

  .article {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    // @include media-breakpoint-up(lg) {
    //   @include make-col(4);
    // }
  }

  &.article__row__col-6 {
    .article {
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
    }

    &.has-border {
      @include media-breakpoint-up(md) {
        .article:not(:last-child) {
          &:after {
            width: 100%;
          }
        }
        .article:nth-last-child(-n + 2) {
          // margin-bottom: 20px;
          padding-bottom: 0;
          &:after {
            display: none;
          }
        }
      }
    }
  }
  &.article__row__col-12 {
    .article {
      @include media-breakpoint-up(md) {
        @include make-col(12);
      }
    }
  }

  &.sm-gutters {
    margin-right: -5px;
    margin-left: -5px;

    > .article {
      padding-right: 5px;
      padding-left: 5px;
    }

    &.has-border {
      .article:not(:last-child) {
        &:after {
          left: 5px;
          right: 5px;
        }
      }
    }
  }
}

.article.article__hori {
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-flow: row nowrap;

    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px solid gray("300");

    .article__figure {
    }
    .article__header {
      flex: 0 0 150px;
      width: 150px;
      margin-bottom: 0;
      order: 2;
    }

    .article__body {
      flex: 1;
      order: 1;
      padding-right: 10px;
    }
  }
}



.article__list {
  .article__border:not(:last-child) {
    padding-bottom: 20px;
    &:after {
      content: "";
      position: absolute;
      bottom: 10px;
      width: 100%;
      height: 1px;
      background-color: gray("300");
      left: 0;
    }
  }

  &.is-big {
    .article__border:not(:last-child) {
      padding-bottom: 32px;
      &:after {
        bottom: 16px;
      }
    }
  }
}


.article__footer {
}

.article__figure {
  margin-bottom: 0;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.article__overlay__wrap {
  @include hover-focus() {
    .article__overlay {
      color: white;
      text-decoration: underline;
    }
  }
}

.article__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  color: #fff;
  font-size: 18px;
  line-height: 24px;

  width: 100%;
  padding: 20px 10px 4px;
  background-image: linear-gradient(to bottom, transparent, #033b67);
}

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}




.info {
}

.info__header {
}

.info__title {
  margin-bottom: 2px;

  a {
    color: gray("900");
    @include hover-focus() {
      color: $pinkmomo;
    }
  }
}

.info__meta {
  font-size: 13px;
  color: gray("600");
  .cat {
    text-transform: uppercase;
    font-family: $headings-font-family;
    margin-right: 5px;
  }
  .time {
    svg {
      width: 13px;
      height: 13px;
      vertical-align: -15%;
    }
  }
}

.middotDivider {
  padding-right: 2px;
  padding-left: 1px;
  font-size: 14px;
}
.middotDivider::after {
  content: "\00B7";
}

.info__content {
}



.article__hori {
  img {
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    .info__title > a {
      color: $pinkhot;
    }
    img {
      transform: scale(1.05);
    }
  }
}