.box{
  padding: 5px 10px;
  border: 1px solid gray("300");
  border-radius: 5px;
  &.box__accordion{
    .svg-icon{
      width: 24px;
      height: 24px;
    }
    .svg-icon{
      transition: all 0.1s ease-in;
    }
    [aria-expanded="true"]{
      .svg-icon{
       transform: rotate(90deg);
      }
    }
  }
}

