.breadcrumb{
  background-color: transparent;
}
.breadcrumb-container{

}


.breadcrumb{
  align-items: center;
  padding: 0;
}

.breadcrumb-item{
  + .breadcrumb-item{
      display: flex;
      align-items: center;
      &:before{
          content: '';
          opacity: .5;
          width: $spacer*1.5;
          height: $spacer*1;
          background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
          background-repeat: no-repeat;
      }
  }
  a{
      color: $body-color;
      &:hover{
          color: $pinkmomo;
      }
  }
}

@include media-breakpoint-down(sm){
  .breadcrumb{
      font-size: 14px;
      padding: $breadcrumb-padding-y*.75 $breadcrumb-padding-x*.75;
  }
}