
.box-shadow-card {
  -webkit-box-shadow: 0 1px 1px 0 rgba(13,12,34,0.15);
  box-shadow: 0 1px 1px 0 rgba(13,12,34,0.15)
}

.box-shadow-md {
  -webkit-box-shadow: 0 2px 8px 2px rgba(13,12,34,0.08);
  box-shadow: 0 2px 8px 2px rgba(13,12,34,0.08)
}

.box-shadow-lg {
  -webkit-box-shadow: 0 2px 8px 2px rgba(13,12,34,0.15);
  box-shadow: 0 2px 8px 2px rgba(13,12,34,0.15)
}

.box-shadow-xl {
  -webkit-box-shadow: 0px 8px 25px rgba(0,0,0,0.1);
  box-shadow: 0px 8px 25px rgba(0,0,0,0.1)
}

@media only screen and (min-width: 960px) {
  .box-shadow-card-ns {
      -webkit-box-shadow:0 1px 1px 0 rgba(13,12,34,0.15);
      box-shadow: 0 1px 1px 0 rgba(13,12,34,0.15)
  }

  .box-shadow-lg-ns {
      -webkit-box-shadow: 0 2px 8px 2px rgba(13,12,34,0.15);
      box-shadow: 0 2px 8px 2px rgba(13,12,34,0.15)
  }
}

.bg-wrap-white #wrap {
  background: #fff
}

.bg-white {
  background: #fff
}

.bg-white-75 {
  background: rgba(255,255,255,0.75)
}

.bg-white-50 {
  background: rgba(255,255,255,0.5)
}

.bg-white-25 {
  background: rgba(255,255,255,0.25)
}

.bg-blue-to-green {
  background: linear-gradient(-45deg, #7bbb5e 0%, #26b6e1 100%)
}

.bg-tan {
  background: #eeede2
}

.bg-noise {
  background: #f4f4f4
}

.bg-blue {
  background: #4f3cc9
}

.bg-orange-to-pink {
  background: linear-gradient(45deg, #e47b49 0%, #ea4c89 100%)
}

.bg-hiring-gradient {
  background: linear-gradient(45deg, #5761b4 0%, #c142a0 100%)
}

.bg-hiring-gradient-01 {
  background: linear-gradient(45deg, #5960b4 0%, #7059af 100%)
}

.bg-hiring-gradient-02 {
  background: linear-gradient(45deg, #8d52aa 0%, #bf43a1 100%)
}

.bg-black-to-grey {
  background: linear-gradient(46deg, #0a0a0a 0%, #191919 23%, #494949 100%)
}

.bg-pink {
  background: #ea4c89
}

.bg-none {
  background: none
}

.bg-before-none:before {
  background: none !important
}

.bg-after-none:after {
  background: none !important
}

.bg-black {
  background: #0d0c22
}

.bg-purple {
  background: #c142a0
}

.bg-overtime {
  background: #4f3cc9
}

.bg-talent {
  background: #4f3cc9
}

.bg-ad-gradient {
  background: linear-gradient(45deg, #6144ff 0%, #17ebff 100%)
}

.bg-green {
  background: #77e0b5
}

.bg-red {
  background: #ff5555
}

.bg-gray {
  background: #dbdbde
}

.bg-green-alt {
  background: #77e0b5
}

.bg-graydient {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(243,243,244,0.8)), to(rgba(243,243,244,0.5))),#fff;
  background: linear-gradient(0deg, rgba(243,243,244,0.8), rgba(243,243,244,0.5)),#fff
}

.bg-wrap-graydient #wrap {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(243,243,244,0.8)), to(rgba(243,243,244,0.5))),#fff;
  background: linear-gradient(0deg, rgba(243,243,244,0.8), rgba(243,243,244,0.5)),#fff
}

.fill-current {
  fill: currentColor
}

.fill-black {
  fill: #000
}

.stroke-current {
  stroke: currentColor
}
