.feeback__wrapper {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 101;

  @include media-breakpoint-down(sm) {
    top: auto;
    bottom: 25%;
    right: 0;
  }

  &.is-active {
    .feedback__btn {
      opacity: 0;
    }

    .feedback__card {
      opacity: 1;
      backface-visibility: visible;
      pointer-events: auto;

      transform: translate3d(0, 0, 0);
    }
  }

  &.is-input {
    .feedback__rating__item {
      span {
        display: none;
      }
    }

    .feedback__rating {
      &:hover {
        .feedback__rating__item {
          opacity: 1;
        }
      }
      .feedback__rating__item {
        img {
          filter: grayscale(100%);
          opacity: 0.4;
        }
        &:hover {
          img {
            opacity: 1;
          }
        }
        &.is-active {
          img {
            opacity: 1;
            filter: grayscale(0);
          }
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .feedback__form {
      display: block;
    }
    .feedback__title {
      display: none;
    }
  }
}
.feedback__btn {
  overflow: hidden;
  cursor: pointer;
  padding: 12px 8px 10px 6px;
  vertical-align: middle;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: $pink;
  color: white;
  white-space: nowrap;
  writing-mode: vertical-lr;
  transform: translate3d(2px, 0, 0);
  transition: transform 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 36px;

  backface-visibility: hidden;
  span {
    transform: rotate(180deg);
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
  }
  img {
    margin-top: 7px;
    vertical-align: -2%;
    filter: grayscale(100%) brightness(120%);
  }
  @include hover-focus() {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 35px 2px rgba(0, 0, 0, 0.24);
  }
}

.feedback__card {
  border-radius: 5px;
  background-color: white;
  padding: 20px 15px;
  text-align: center;
  position: relative;
  width: 300px;
  box-shadow: 0 6px 100px 0 rgba(0, 0, 0, 0.35) !important;

  //
  // backface-visibility: visible;
  // opacity: 1;
  position: absolute;

  top: -30px;
  right: 22px;
  z-index: 10;

  transition: all 0.2s ease-in;

  opacity: 0;
  backface-visibility: hidden;
  pointer-events: none;

  transform: translate3d(20px, 0, 0);

  @include media-breakpoint-down(sm) {
    position: fixed;
    bottom: 10px;
    top: auto;
    left: 10px;
    right: 10px;
    width: auto;
  }
}

.feedback__close {
  width: 24px;
  height: 24px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: -12px;
  right: 8px;
  background-color: $pink;
  svg {
    width: 16px;
  }
  &:after {
    content: "";
    width: 44px;
    height: 44px;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    right: 0;
    bottom: 0;
  }
}

.feedback__title {
  padding: 0 25px 10px;
  overflow: hidden;
}

.feedback__rating__item {
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
  img {
    display: block;
    margin: 0 auto 8px;
  }
  font-size: 12px;
  color: gray("700");
  span {
    transform: translate3d(0, 5px, 0);
    display: block;
    opacity: 0;
    transition: all 0.1s ease-in;
  }
}

.feedback__rating {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 10px;

  &:hover {
    .feedback__rating__item {
      opacity: 0.5;
    }
  }
  .feedback__rating__item {
    transition: all 0.1s ease-in;
    flex: 1 1 0px;
    &:hover {
      opacity: 1;
      span {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    &.is-active {
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -5px;

        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;

        border-bottom: 5px solid gray("200");
      }
    }
  }
}

.feedback__thx {
  font-size: 12px;
  margin-top: 20px;
}

.feedback__form {
  background-color: gray("200");
  padding: 12px;
  border-radius: 5px;

  display: none;
  .form-control {
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 13px;
  }
}

.modal-push {
  .push-avatar {
    padding-right: 20px;
    max-width: 90px;
  }

  .modal-dialog {
    margin: 0 auto;
    //width: 420px;
    transform: translate(0, -100%);
  }

  .modal-content {
    border: none;
    //box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    background: #f0f0f0;
    border-radius: 0;

    .modal-body {
      padding: 20px;
    }
  }

  .push-text {
    font-size: 17px;
    line-height: 24px;
    color: gray("700");
  }
}

.btn.btn-material {
  border-radius: 3px;
  background: #4285f4;
  color: white;
  padding: 8px 20px;
  font-size: 15px;

  @include hover-focus-active() {
    background: darken(#4285f4, 10%);
    color: white;
  }
}

.btn.btn-link-material {
  color: #4285f4;
  padding: 8px 20px;
  font-size: 15px;

  @include hover-focus-active() {
    color: darken(#4285f4, 10%);
  }
}

@include media-breakpoint-down(xs) {
  .modal-push {
    .push-avatar {
      padding-right: 10px;
      max-width: 60px;
    }

    .modal-dialog {
      margin: 0 auto;
      //width: 420px;
      transform: translate(0, -100%);
    }

    .modal-content {
      border: none;

      .modal-body {
        padding: 10px;
      }
    }

    .push-text {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .btn.btn-material {
    padding: 5px 10px;
    font-size: 13px;
  }

  .btn.btn-link-material {
    padding: 5px 10px;
    font-size: 13px;
  }
}
