// NAVBAR BANNER

$bannerHeight: 45px;

.navbar__banner {
  max-height: $bannerHeight;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  &.is-hidden {
    max-height: 0 !important;
  }
}

.headerstrip-wrapper {
  height: $bannerHeight;
  position: relative;
}

.headerstrip__banner-dismiss {
  width: 12px;
  height: 12px;
  background: none;
  border: none;
  box-sizing: content-box;
  padding: 0;
  position: absolute;
  font: inherit;
  height: 100%;
  line-height: 0;
  cursor: pointer;
  outline: inherit;
  opacity: 0.4;
  padding: 0 16px;
  color: white;
  text-decoration: none;
  transition: all 100ms ease;
  right: 0;
  top: 0;
  z-index: 2;
}

.headerstrip__banner-dismiss:hover {
  transform: scale(1.3);
}

.headerstrip__banner-dismiss svg {
  fill: #000000;
}

.headerstrip {
  display: block;
  height: $bannerHeight;
  font-size: 14px;
  position: relative;
  text-decoration: none !important;
  z-index: 1;
}

.headerstrip .headerstrip-content-background {
  background-color: #fff;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffa6cc; /* For browsers that do not support gradients */
  background: linear-gradient(
    to right,
    darken(#ffa6cc, 2%),
    #ffa6cc
  ); /* Standard syntax */
  background-repeat: repeat-x;
  display: flex;
  align-items: center;
  justify-content: center;

  // &.light{
  //   background: $pinklight; /* For browsers that do not support gradients */
  //   background: linear-gradient(to right, darken($pinklight,2%), $pinklight); /* Standard syntax */
  // }
}

.headerstrip .headerstrip-canvas {
  height: $bannerHeight;
  margin: auto auto;
}

.headerstrip .headerstrip-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: $bannerHeight;
  max-width: 1200px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.headerstrip .headerstrip-text {
  color: $pinkmomo;
  text-decoration: none;
  padding-right: 24px;
  font-weight: 200;
  position: relative;
}

.headerstrip .headerstrip-text strong {
  // font-weight: 600;
}

.headerstrip .headerstrip-cta {
  position: relative;
  background-color: $pinkmomo;
  padding: 5px 20px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  min-width: 80px;
}

//Mobile device
@include media-breakpoint-down(sm) {
  $bannerHeight: 100%;
  .navbar__banner {
    max-height: $bannerHeight;

    .headerstrip-wrapper {
      height: $bannerHeight;
    }

    .headerstrip {
      height: $bannerHeight;
    }

    .headerstrip .headerstrip-content-background {
      background: lighten(
        $pinklight,
        8%
      ); /* For browsers that do not support gradients */
    }

    .headerstrip .headerstrip-canvas {
      height: $bannerHeight;
      z-index: 1;
      position: relative;

      img {
        max-height: $bannerHeight;
      }
    }

    .headerstrip__banner-dismiss {
      color: red;
      position: absolute;
      opacity: 0.7;
      width: 12px;
      height: 12px;
      top: 0;
      right: 0;
      padding: 10px;
    }
    // .headerstrip__banner-dismiss svg {
    //   fill: #fff;
    // }
  }
}

// END NAVBAR BANNER

.momo__logo {
  width: 30px;
  height: 30px;
  color: white;
}

.menu-open {
  overflow: hidden !important;
}

.header-position {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.navbar-container {
  // box-shadow: inset 0px -1px 0px gray("300");
  box-shadow: inset 0px -1px 0px gray("200"), 0 4px 8px 0 rgba(0, 0, 0, 0.03);

}

.nav-item {
  position: relative;
  .nav-link {
    position: relative;
  }

  &.is-active.has-dropdown {
    .nav-dropdown__container {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    .svg-icon {
      transform: rotate(180deg);
    }

    .nav-link {
      position: relative;
      &:before {
        opacity: 1;
      }
    }
  }

  .svg-icon {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in;
  }
}

.header__logo {
  background-color: $primary-2;
  width: 40px;
  height: 40px;
  // padding-left: 1px;
  // padding-bottom: 1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40px;

  @include media-breakpoint-down(sm) {
    margin-left: 15px;
  }
}


.header__container {
  // height: 58px;
  padding-top: 5px;
  padding-bottom: 5px;

  .nav-link {
    font-weight: bold;
    height: 58px;
    line-height: 58px;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
  }

}
.navbar-lp-container{
  padding-top: 0;
  padding-bottom: 0;
}

.header__search {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.h-search__wrapper {
}

.h-search__form {
  width: 200px;
  position: relative;

  @include media-breakpoint-down(md) {
    .h-search__input {
      height: 40px;
    }
    width: 100%;
  }
}

.h-search__input {
  background-color: white;
  @include hover-focus() {
    outline: none;
    box-shadow: none;
    border: 1px solid gray("300");
  }
}

.h-search__icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  z-index: 1;
  color: gray("500");
}

.h-search__quick {
}

.nav-dropdown__container {
  min-width: 16rem;

  position: absolute;
  z-index: 1000;
  left: 0;
  top: 52px;
  width: 100%;

  visibility: hidden;
  opacity: 0;
  padding-top: 25px;

  // visibility: visible;
  // opacity: 1;

  transform: translate3d(0, 10px, 0);
  transition: opacity 0.1s ease-in, visibility 0.1s ease-in,
    transform 0.1s ease-in;

  will-change: transform, opacity;

  // @include media-breakpoint-down(lg){
  //   width: 800px !important;
  // }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid white;
    position: absolute;
    top: 13px;
    left: 35px;
    margin-left: -5px;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
  }

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid gray("300");
    position: absolute;
    top: 12px;
    left: 34px;
    margin-left: -5px;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
  }
}

.nav-dropdown {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;

  overflow: hidden;
  position: relative;

  border: 1px solid gray("300");
  box-shadow: 0 1px 24px rgba(45, 62, 80, 0.12);
}

.nav-dropdown__content {
  padding: 15px;
}

.nav-dropdown-wrap {
  width: 100%;
}
.nav-dropdown-sub {
  border-top: 1px solid gray("300");
  background-color: gray("100");
}

.nav-mega__item {
  position: relative;
  width: 100%;
  min-height: 40px;
  margin-bottom: 5px;
  padding: 8px 15px;

  border-radius: 5px;
  &:last-child {
    // margin-bottom: 0;
  }

  @include hover-focus() {
    background-color: rgba($pinkmomo, 0.05);

    .nav-mega__title {
      color: $pinkmomo;
    }
  }
}

.nav-mega__item {
}

.nav-mega__icon {
  width: 38px;
  height: 38px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: gray("100");
  // border-radius: 50%;
  // background-color: rgba($pinkmomo, 0.08);
  img {
    width: 100%;
  }
  position: absolute;
  top: 10px;
  left: 8px;
}

.nav-mega__content {
  margin-left: 44px;
}

.nav-mega__title {
  font-weight: bold;
  color: gray("800");
}

.nav_mega__sub {
  font-size: 12px;
  color: gray("600");
  // @include text-truncate;
}

.nav-maga__more {
  padding-left: 50px;
  position: relative;
  font-size: 12px;
  padding-top: 5px;
  color: gray("700");
  .title {
    color: $primary;
    font-size: 11px;
    font-weight: bold;
  }
  .list {
    li {
      margin-bottom: 3px;
    }
  }
  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 17px;
    width: 7px;
    border-bottom: 2px solid rgba($pinkmomo, 0.4);
    border-left: 2px solid rgba($pinkmomo, 0.4);
    border-radius: 0 0 0 4px;
  }
}

.hamburger {
  box-shadow: none !important;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  // margin-right: -0.5rem;
}

.mobile-menu__wrap {
  // display: none;
  position: absolute;
  top: 58px;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 0;
  background: #fff;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.02);
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  overflow: hidden;
  -webkit-backdrop-filter: blur(3px);

  &.is-open {
    height: calc(100vh - 58px);
    // height: 100vh;
   
    // min-height: -webkit-fill-available;

    // height: calc(var(--vh, 1vh) * 100 - 58px);

    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.3s;
    overflow: hidden;

    // .mobile-menu {
    //   padding-bottom: 100px;
    // }
  }
}

.safari .mobile-menu__wrap.is-open {
  .mobile-menu {
    padding-bottom: 100px;
  }
}

.mobile-menu {
  padding: 0;
  background-color: gray("100");
  max-height: calc(100vh);
  // height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: scroll;
  overflow-y: scroll;
  height: 100%;

  // h6 {
  //   font-size: 15px;
  //   // margin-left: -33px;
  //   text-transform: uppercase;
  //   font-weight: bold;
  //   color: gray("500");
  //   padding: 5px 15px;
  //   border-bottom: 1px solid gray("200");
  //   margin-bottom: 0;
  // }
  // h6 ~ h6 {
  //   margin-top: 32px;
  // }

  // a {
  //   display: block;
  //   color: gray("700");
  //   font-size: 14px;
  //   min-height: 40px;
  //   display: flex;
  //   align-items: center;
  //   opacity: 0;
  //   transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99),
  //     opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  //   transition-delay: 0.4s;
  //   transform: scale(1.1) translateY(-25px);
  //   border-bottom: 1px solid gray("200");

  //   img {
  //     position: absolute;
  //     width: 26px;
  //     left: -35px;
  //     top: 6px;

  //     display: none;
  //   }
  // }

  // @for $i from 2 through 12 {
  //   // @debug(#{14 - $i});
  //   a:nth-child(#{14 - $i}) {
  //     transition-delay: ($i * 0.07s);
  //   }
  // }
}
.mobile-menu__item {
  // padding: 15px;
  background-color: white;
  position: relative;
  &:not(:last-child) {
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 1px;
      left: 0;
      right: 0;
      background: gray("200");
    }
  }
}
.mobile-menu__btn {
  display: block;
  font-weight: bold;
  color: gray("700");
  padding: 12px 15px;
  @include hover-focus() {
    color: gray("700");
  }
  h5 {
    font-size: 18px;
  }
  &[aria-expanded="true"] {
    box-shadow: 0 2px 3px 0px rgba(13, 12, 34, 0.08);
    z-index: 2;
    position: relative;
    .icon {
      transform: rotate(180deg);
    }
  }
}

.mobile-menu__content {
  // border-left: 1px solid gray("200");
  // margin: 10px 0 10px 20px;
  // padding-left: 5px;
  margin-bottom: 0;
  background-color: lighten(gray("100"), 1%);
  padding: 5px 10px;
  display: flex;
  flex-flow: row wrap;
  li {
    flex: 0 0 50%;
    min-width: 0;
    max-width: 50%;

    // &:first-child{
    //   a{
    //     padding-top: 0;
    //   }
    // }

    // &:last-child{
    //   a{
    //     padding-bottom: 0;
    //   }
    // }
    padding: 0 5px;

    a {
      border-bottom: 1px solid gray("200");
      position: relative;

      padding: 10px 0px 10px 24px;
      display: block;
      font-size: 14px;
      color: gray("700");
    }
    .icon {
      position: absolute;
      width: 20px;
      left: 0;
    }

    &:nth-last-child(1) {
      a {
        border-bottom: none;
      }
    }
    &:nth-last-child(2) {
      a {
        border-bottom: none;
      }
    }

    @media (max-width: 320px) {
      a {
        padding: 10px 0px 10px 0;
      }
      .icon {
        display: none;
      }
    }
  }
}

//SE BO DI

.nav-simple__item {
  position: relative;
  padding: 10px 10px;

  @include hover-focus() {
    .nav-mega__title {
      color: gray("900");
    }

    .nav-simple__icon {
      opacity: 1;
    }
  }
}

.nav-simple__icon {
  max-width: 20px;
  max-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  img,
  svg {
    width: 100%;
    height: 20px;
  }
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  opacity: 0.6;
}

.nav-simple__content {
  margin-left: 30px;
}

.nav-mega__content {
}
.header__search {
  position: relative;
}

.header__search__wrap {
  @include media-breakpoint-down(lg) {
    flex-grow: 1;
  }
}

.nav-big__item {
  padding: 10px 15px;
  position: relative;
  border-radius: 5px;

  // @include hover-focus() {
  //   .nav-big__title {
  //     color: $pinkmomo;
  //   }
  // }

  @include hover-focus() {
    background-color: rgba($pinkmomo, 0.05);

    .nav-big__title {
      color: $pinkmomo;
    }
  }
}

.nav-big__title {
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
  color: gray("700");
  padding-bottom: 4px;
  transition: all 0.2s ease-in;
}

.nav-big__sub {
  font-size: 13px;
  line-height: 18px;
  color: gray("600");
}

.mobile-menu__download {
  background-color: gray("100");
  padding: 0 20px 15px;
  font-size: 14px;
  color: gray("700");
  .tt {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px;
    color: gray("900");
  }
  .ll {
    li {
      margin-bottom: 5px;
    }
  }
}

.swiper-app {
  visibility: visible;
  overflow: visible;

  .swiper-slide {
    opacity: 0.5;
    transition: opacity 0.2s ease-in;
  }

  .swiper-slide-active,
  .swiper-slide-next,
  .swiper-slide-next + .swiper-slide {
    opacity: 1;
  }
}
.app__feature__card {
  position: relative;
  padding-bottom: 50px;
}
.app__feature__card___more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
}

.app__connect {
  background: rgba(#ffe9f1, 0.7);
  border-radius: 20px;
  padding: 25px 30px;
  max-width: 1000px;
  margin: 0 auto;
}
