.modal__header {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray("300");
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  // @extend .shadow-sm;
}

.modal__nav {
  width: 50px;
}

.modal__nav__btn {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  text-align: center;
  color: gray("900");
  .svg-icon {
    width: 30px;
    height: 30px;
  }
}

.modal__title {
  width: calc(100% - 100px);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.modal__fullscreen {
  .modal-dialog,
  .modal-content {
    width: 100%;
    height: 100%;
  }

  .modal-dialog {
    margin: 0 auto;
    padding: 0;
  }

  .modal-content {
    box-shadow: none;
    border-radius: 0;
    border: 0;
    // Remove focus outline from opened modal
    outline: 0;
  }

  // When fading in the modal, animate it to slide down
  &.modal.fade .modal-dialog {
    transform: translate(100%, 0);
  }

  &.modal.show .modal-dialog {
    transform: none;
  }

  .modal-dialog-scrollable {
    max-height: 100%;
  }
  .modal-dialog-scrollable .modal-content {
    max-height: 100%;
  }

  .modal-footer {
    padding: 5px;
  }

  @include media-breakpoint-up(sm) {
    .modal-dialog-scrollable .modal-content {
      max-height: 90%;
      top: 5%;
    }
  }
}
