
.post-body {
    color: gray("800");
  
    img:not(.img-free):not(.left):not(.right) {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      width: auto !important;
      height: auto !important;
    }
  
    img.img-free,
    img.left,
    img.right {
      max-width: 100%;
      margin: 0;
      width: auto;
      height: auto !important;
    }
  
    img.left {
      float: left;
    }
  
    img.right {
      float: right;
    }
  
    // h4,
    // h5 {
    //   font-size: 14px;
    // }
    table {
      width: 100% !important;
    }
  }
  
  .post-body {
    position: relative;
    overflow-wrap: break-word;
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      // margin: 0.5em 0;
  
      margin: 30px 0 20px;
    }
  
    h1 {
      // font: 500 38px/1.3157894737 "Nunito", sans-serif;
      letter-spacing: -0.5px;
      font-weight: 500;
      font-size: 38px;
      line-height: 1.3157894737;
    }
  
    @media (min-width: 321px) {
      h1 {
        // font: 500 56px/1.3214285714 "Nunito", sans-serif;
        font-size: 56px;
        line-height: 1.3214285714;
        letter-spacing: -0.5px;
      }
    }
  
    h2 {
      // font: 700 18px/1.3333333333 "Nunito", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.3333333333;
    }
  
    @media (min-width: 321px) {
      h2 {
        // font: 700 22px/1.3333333333 "Nunito", sans-serif;
        font-size: 22px;
      line-height: 1.3333333333;
      }
    }
  
    h3 {
      // font: 700 16px/1.4814814815 "Nunito", sans-serif;
  
      font-weight: 700;
      font-size: 16px;
      line-height: 1.4814814815;
    }
  
    @media (min-width: 321px) {
      h3 {
        // font: 700 20px/1.2 "Nunito", sans-serif;
        font-weight: 700;
        font-size: 20px;
      }
    }
  
    h4 {
      // font: 500 13.5px/1.4814814815 "Nunito", sans-serif;
  
      font-weight: 700;
      font-size: 16px;
      line-height: 1.4814814815;
    }
  
  
    @media (min-width: 321px) {
      h4 {
        // font: 500 18px/1.0526315789 "Nunito", sans-serif;
        font-size: 17px;
      }
    }
  
    h5 {
      font-size: 1.15rem;
      font-weight: 700;
      line-height: 1.5;
    }
  
    h6 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.375;
    }
  
    //   p {
    //     font-size: 1em;
    //     margin-top: 1em;
    //     margin-bottom: 1em;
    // }
  
    p {
      margin: 0 0 20px;
    }
  }
  
  
  
  
  .post-body ul,
  .post-body ol {
    margin-bottom: 1.25em;
    padding: 0;
  }
  
  .post-body ul li,
  .post-body ol li {
    list-style-type: none;
    margin: 0 0 0.55em;
    padding: 0 0 0 1em;
  }
  
  .post-body ul li > ul,
  .post-body ul li > ol,
  .post-body ol li > ul,
  .post-body ol li > ol {
    margin: 1em 0 0;
  }
  
  .post-body ul li {
    text-indent: -0.375em;
  }
  
  .post-body ul li::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -0.2em;
    left: -0.55em;
    background-color: gray("800");
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  
  .post-body ol {
    counter-reset: item;
  }
  
  .post-body ol > li {
    counter-increment: item;
    text-indent: -2em;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .post-body {
    position: relative;
    overflow-wrap: break-word;
  
    // font: 400 17px/1.666 "Nunito", sans-serif;
    color: gray("800");
    // font-family: 'Nunito Sans', sans-serif;
  
    // font-family: 'Sarabun', sans-serif;
  
    // font-size: 16px;
    // letter-spacing: 0.1px;
    // line-height: 1.777;
  
    font-size: 17px;
    line-height: 30px;
  
    font-weight: 400;
  
    @include media-breakpoint-down(sm) {
      // font: 400 16px/1.5 "Nunito", sans-serif;
    }
  }
  
  .post-body .post-desc {
    line-height: 1.8;
  
    // color: gray("800");
    // color: rgba(0, 0, 0, 0.54);
    color: gray("600");
  
    // font: 500 17px/1.666 "Nunito", sans-serif;
    font-size: 18px;
    
    line-height: 1.7;
    font-weight: 500;
    // font-family: 'Nunito Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
  
    @include media-breakpoint-down(sm) {
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }