.qrcode__scan {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  .qrcode__image {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.img-filter-white{
  filter: brightness(0) invert(1);
}

.qrcode__scan__container{
  padding: 15px;
  background-color: white;
  width: 280px;
  border-radius: 20px;
  border-radius: 15px;
  margin: 0 auto;
}

.qrcode__border {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0.9;
  pointer-events: none;
}

.qrcode__gradient {
  position: absolute;
  opacity: 0.6;
  width: 98%;
  height: 98%;
  top: 1%;
  left: 1%;
  z-index: 6;
  // pointer-events: none;
  transform: translate3d(0, -110%, 0);
  animation: qrCodeScan 3s infinite cubic-bezier(0.45, 0.03, 0.81, 0.63);

  backface-visibility: hidden;
}

.qrcode__htu__bg {
  // padding: 20px;
  // background-color: gray("100");
  background-color: white;

  // .swiper-qrcode {
  //   width: 100%;
  //   height: 100%;
  //   .swiper-slide {
  //     padding: 20px;
  //   }
  //   .img {
  //     padding-top: 60px;
  //     min-height: 300px;
  //     max-width: 250px;
  //     margin: 0 auto;
  //   }
  //   .txt {
  //     font-size: 18px;
  //     font-weight: bold;
  //     margin-top: 25px;
  //   }

  //   .swiper-pagination {
  //     bottom: 15px;
  //     .swiper-pagination-bullet {
  //       width: 8px;
  //       height: 8px;
  //       background: gray("500");
  //     }
  //     .swiper-pagination-bullet-active {
  //       background-color: $pink;
  //     }
  //   }
  // }
}

.qrcode__bg2 {
  // background-color: rgba(gray("500"), 0.1);
  // background-color: $primary-2;
  // border-left: 1px solid gray("300");
  // background-color: gray("100");
  background: url("../img/intro/qrcode-pattern.png") 10px 10px no-repeat, linear-gradient(to top, #c1177c, lighten(#c1177c, 7%));

}

@keyframes qrCodeScan {
  0% {
    transform: translate3d(0, -110%, 0);
  }

  90% {
    transform: translate3d(0, 30%, 0);
  }
  100% {
    transform: translate3d(0, 30%, 0);
  }
}

.qrcode__text {
  text-align: center;
}

.qrcode__htu {
  padding:  20px;
  .qrcode__htu__step:not(:last-child){
    margin-bottom: 30px;
  }
}
.qrcode__htu__step{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .img{
    max-width: 95px;
    flex: 0 0 95px;
    img{
      width: 78px;
      // margin-right: 0;
    }
  }

  .content{
    flex: 1 1 0px;
    font-size: 14px;
    color: gray("600");
  }

  .step{
    color: gray("900");
    font-weight: bold;
    margin-bottom: 5px;
  }
}
