/*!
 * bootstrap-star-rating v4.0.5
 * http://plugins.krajee.com/star-rating
 *
 * Author: Kartik Visweswaran
 * Copyright: 2013 - 2018, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD 3-Clause
 * https://github.com/kartik-v/bootstrap-star-rating/blob/master/LICENSE.md
 */
 .rating-loading {
  width: 25px;
  height: 25px;
  font-size: 0;
  color: #fff;
  // background: transparent url('https://static.mservice.io/styles/desktop/img/loading.gif') top left no-repeat;
  border: none;
}

.rating-container{
  display: inline-block;
}

/*
* Stars & Input
*/
.rating-container .rating-stars {
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.rating-container .rating-input {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  font-size: 1px;
  border: none;
  background: none;
  opacity: 0;
  padding: 0;
  margin: 0;
}

.rating-container.is-display-only .rating-input,
.rating-container.is-display-only .rating-stars {
  cursor: default;
}

.rating-disabled .rating-input, .rating-disabled .rating-stars {
  cursor: not-allowed;
}

.rating-container .star {
  display: inline-block;
  margin: 0 2px;
  text-align: center;
}

.rating-container .empty-stars {
  color: #aaa;
}

.rating-container .filled-stars {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  color: #fde16d;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-stroke: 1px #777;
  text-shadow: 1px 1px #999;
}

.rating-rtl {
  float: right;
}

.rating-animate .filled-stars {
  transition: width 0.25s ease;
}

.rating-rtl .filled-stars {
  left: auto;
  right: 0;
  transition: none;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.rating-rtl.is-star .filled-stars {
  right: 0.06em;
}

.rating-rtl.is-heart .empty-stars {
  margin-right: 0.07em;
}

/**
* Clear
*/
.rating-container .clear-rating {
  color: #aaa;
  cursor: not-allowed;
  display: inline-block;
  vertical-align: middle;
  font-size: 60%;
}

.clear-rating-active {
  cursor: pointer !important;
}

.clear-rating-active:hover {
  color: #843534;
}

.rating-container .clear-rating {
  padding-right: 5px;
}

/**
* Caption
*/

/* extend support to BS4 */
.rating-container .caption .label {
  display: inline-block;
  padding: .25em .4em;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  border-radius: .25rem;
}

.rating-container .caption {
  color: #999;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.rating-container .caption {
  margin-left: 5px;
  margin-right: 0;
}

.rating-rtl .caption {
  margin-right: 5px;
  margin-left: 0;
}

/**
* Print
*/
@media print {
  .rating-container .clear-rating {
      display: none;
  }
}

/**
* Sizes
*/
.rating-xl  {
  font-size: 48px;
}
.rating-lg  {
  font-size: 40px;
}
.rating-md  {
  font-size: 32px;
}
.rating-sm  {
  font-size: 24px;
}
.rating-xs  {
  font-size: 14px;
  vertical-align: 5%;
}

.rating-xl .caption {
  font-size: 20px;
}
.rating-lg .caption {
  font-size: 18px;
}
.rating-md .caption {
  font-size: 16px;
}
.rating-sm .caption {
  font-size: 14px;
}
.rating-xs .caption {
  font-size: 12px;
}





/*!
 * Krajee SVG Theme styling for bootstrap-star-rating.
 * This file must be loaded after 'star-rating.css'.
 *
 * @see http://github.com/kartik-v/bootstrap-star-rating
 * @author Kartik Visweswaran <kartikv2@gmail.com>
 */
 .theme-krajee-svg .krajee-icon,
 .theme-krajee-svg .krajee-icon-clear {
     display: inline-block;
     width: 2rem;
     height: 2rem;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

 .theme-krajee-svg .clear-rating,
 .theme-krajee-svg .rating-stars {
     font-size: 5px;
 }

 .theme-krajee-svg .krajee-icon-clear {
     background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22svg2%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20158.81%20158.81%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20id%3D%22path4%22%20style%3D%22fill%3A%23aaa%22%20stroke-linejoin%3D%22round%22%20d%3D%22m155.06%2C79.438c0%2C41.799-33.885%2C75.684-75.684%2C75.684s-75.684-33.885-75.684-75.684%2C33.885-75.684%2C75.684-75.684%2C75.684%2C33.885%2C75.684%2C75.684z%22%20stroke%3D%22%23aaa%22%20stroke-linecap%3D%22round%22%20fill%3D%22none%22%2F%3E%0D%0A%3Cpath%20id%3D%22rect3139%22%20style%3D%22fill%3A%23fff%22%20d%3D%22m37.216%2C64.443v28.67h88.24v-28.67h-88.24z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
 }

 .theme-krajee-svg .filled-stars .krajee-icon-star {
     background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23fde16d%22%20stroke%3D%22%23777777%22%20d%3D%22M20.6%2011l-4.6-10.5-4.6%2010.5h-10.8l7.8%207.9-3%2012.1%2010.6-6%2010.6%206-3-12.1%207.8-7.9z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
 }

 .theme-krajee-svg.rating-xl .krajee-icon,
 .theme-krajee-svg.rating-xl .krajee-icon-clear {
     width: 3rem;
     height: 3rem;
 }

 .theme-krajee-svg.rating-lg .krajee-icon,
 .theme-krajee-svg.rating-lg .krajee-icon-clear {
     width: 2.5rem;
     height: 2.5rem;
 }

 .theme-krajee-svg.rating-md .krajee-icon,
 .theme-krajee-svg.rating-md .krajee-icon-clear {
     width: 2rem;
     height: 2rem;
 }

 .theme-krajee-svg.rating-sm .krajee-icon,
 .theme-krajee-svg.rating-sm .krajee-icon-clear {
     width: 1.5rem;
     height: 1.5rem;
 }

 .theme-krajee-svg.rating-xs .krajee-icon,
 .theme-krajee-svg.rating-xs .krajee-icon-clear {
     width: 1rem;
     height: 1rem;
 }

 .theme-krajee-svg .krajee-icon-clear:hover {
     background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22svg2%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20158.81%20158.81%22%20version%3D%221.1%22%3E%0D%0A%3Cpath%20id%3D%22path4%22%20style%3D%22fill%3A%23843534%22%20stroke-linejoin%3D%22round%22%20d%3D%22m155.06%2C79.438c0%2C41.799-33.885%2C75.684-75.684%2C75.684s-75.684-33.885-75.684-75.684%2C33.885-75.684%2C75.684-75.684%2C75.684%2C33.885%2C75.684%2C75.684z%22%20stroke%3D%22%23843534%22%20stroke-linecap%3D%22round%22%20fill%3D%22none%22%2F%3E%0D%0A%3Cpath%20id%3D%22rect3139%22%20style%3D%22fill%3A%23fff%22%20d%3D%22m37.216%2C64.443v28.67h88.24v-28.67h-88.24z%22%2F%3E%0D%0A%3C%2Fsvg%3E');
 }

 .theme-krajee-svg .empty-stars .krajee-icon-star {
     background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20stroke%3D%22%23777777%22%20d%3D%22M20.6%2011l-4.6-10.5-4.6%2010.5h-10.8l7.8%207.9-3%2012.1%2010.6-6%2010.6%206-3-12.1%207.8-7.9z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
 }

 .theme-krajee-svg .filled-stars .krajee-icon-heart {
     background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23fde16d%22%20stroke%3D%22%23777777%22%20stroke-width%3D%220.04em%22%20d%3D%22M12%2021.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53%200-3.08%202.42-5.5%205.5-5.5%201.74%200%203.41.81%204.5%202.09%201.09-1.28%202.76-2.09%204.5-2.09%203.08%200%205.5%202.42%205.5%205.5%200%203.78-3.4%206.86-8.55%2011.54l-1.45%201.31z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
 }

 .theme-krajee-svg .empty-stars .krajee-icon-heart {
     background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20stroke%3D%22%23777777%22%20stroke-width%3D%220.04em%22%20d%3D%22M12%2021.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53%200-3.08%202.42-5.5%205.5-5.5%201.74%200%203.41.81%204.5%202.09%201.09-1.28%202.76-2.09%204.5-2.09%203.08%200%205.5%202.42%205.5%205.5%200%203.78-3.4%206.86-8.55%2011.54l-1.45%201.31z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
 }

 .theme-krajee-svg.rating-rtl.is-heart .filled-stars {
     right: 0.02em;
 }

 .theme-krajee-svg.rating-rtl.is-heart .empty-stars {
     margin-right: 0.01em;
 }