.search-quick {
  width: 290px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  // box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
  @extend .shadow;
  left: 1px;
  right: 1px;
  margin: 0;
  background: white;
  z-index: 10;
  position: absolute;
  top: 100%;

  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: none;
  min-width: 160px;
  border-radius: 2px;
  max-width: calc(100vw - 30px);
  padding: 0;

  li:first-child {
    margin-top: 5px;
  }
  li:last-child {
    margin-bottom: 5px;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    left: -30px;
    width: calc(100% + 60px);
  }
}

.search-quick-item {
  &.is-active {
    .search-quick-link {
      background: #faf4f7;
      color: $pinkmomo;
      strong {
        color: $pinkmomo;
      }
    }
  }
}

.search-quick-link {
  display: block;
  padding: 7px 12px 7px 12px;
  clear: both;
  font-weight: 400;
  line-height: 1.43;
  color: gray("800");
  white-space: nowrap;
  position: relative;
  @extend .text-truncate;
  strong {
    color: gray("900");
    text-transform: capitalize;
  }

  .icon {
    position: absolute;
    left: 11px;
    top: 7px;
    width: 17px;
    opacity: 0.5;
    margin-right: 10px;
    display: none;
  }

  @include hover-focus() {
    background: #faf4f7;
    color: $pinkmomo;
    strong {
      color: $pinkmomo;
    }
  }
}
