.bg-donation-event {
  // background-image: linear-gradient(
  //   139deg,
  //   rgb(198, 66, 110) 0%,
  //   rgb(100, 43, 115) 100%
  // );

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f3f3f3 100%);
  position: relative;
  // background: linear-gradient(to right, #E82176, #A42067);
  position: relative;
}

.screenshot__media {
  display: block;
}

.screenshot {
  background-color: rgba(255, 255, 255, 0.65);
  overflow: hidden;
  border-radius: 0.3125rem;
  position: relative;
  // box-shadow: 0 0 0 1px rgb(0 0 0 / 12%);
}

.screenshot--has-shadow {
  // box-shadow: 0 10px 36px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 6%);
}

.screenshot-maxw {
  max-width: 340px;

  @include media-breakpoint-down(sm) {
    max-width: 280px;
  }
}

.navbar-toggler {
  height: 58px;
  width: 58px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    height: 30px;
  }
  @include media-breakpoint-down(sm) {
    height: 48px;
    width: 48px;
  }
}

.navbar-toggler-close {
  position: absolute;
  left: 9px;
  top: 8px;
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    padding: 10px 15px;
  }
}

.bg-donation-grad {
  // background-image: linear-gradient(
  //   139deg,
  //   rgb(198, 66, 110) 0%,
  //   rgb(100, 43, 115) 100%
  // );

  background: linear-gradient(to right, #e82176, #a42067);
  position: relative;
  text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
  color: white;
}

.donation-live-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  backface-visibility: hidden;

  // background-image: linear-gradient(
  //   139deg,
  //   rgb(198, 66, 110) 0%,
  //   rgba(100, 43, 115, 0) 100%
  // );

  // background-image: linear-gradient(87deg,rgb(100, 43, 115) 0% , rgb(198, 66, 110) 57%, hsla(0, 0%, 100%, 0) );

  background-image: linear-gradient(
    87deg,
    #b3165b 0%,
    rgb(198, 66, 110) 55%,
    rgba(198, 66, 110, 0) 70%,
    hsla(0, 0%, 100%, 0)
  );

  @include media-breakpoint-down(sm) {
    background-image: linear-gradient(
      87deg,
      #b3165b 0%,
      rgb(198, 66, 110) 45%,
      rgba(198, 66, 110, 0) 100%
    );
  }
}

.donation-live-pattern {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 50px 70px;
  opacity: 0.4;
  user-select: none;

  @include media-breakpoint-down(sm) {
    background-size: 80%;
  }
}

.bg-donation-live {
  position: relative;
  z-index: 1;
  .container .row {
    min-height: 450px;
  }

  @include media-breakpoint-down(sm) {
    .container .row {
      min-height: 400px;
    }
  }
}

.donation-live-wall {
  z-index: 5;
  position: relative;
}

.donation-live-swiper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  bottom: 0;
  z-index: -2;

  @include media-breakpoint-down(sm) {
    width: 70%;
  }
}

.swiper-donation-bg-live {
  width: 100%;
  height: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .bg {
      background-size: cover;
      background-position: right center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;

      // transition: all 10s linear;

      transition: transform 7s ease-in-out;
      transform: scale(1);
    }
    // &.swiper-slide-active {
    //   .bg {
    //     transform: scale(1);
    //   }
    // }

    &.swiper-slide-next,
    &.swiper-slide-duplicate-next {
      .bg {
        transform: scale(1.078);
      }
    }
    &.swiper-slide-first {
      .bg {
        transform: scale(1.078);
      }
    }
  }
}

.nch-title-logo {
  font-size: 25px;
  font-weight: 800;
  color: #fbb03b;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 $pinkmomo, 1px -1px 0 $pinkmomo, -1px 1px 0 $pinkmomo,
    1px 1px 0 $pinkmomo;
}

.navbar-donation {
  background-color: transparent;
  // background: rgba($pinkmomo, 0.1);
  // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  // backdrop-filter: saturate(180%) blur(20px);

  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  .navbar-toggled-show {
    background: rgba($pinkmomo, 0.85);
  }
  .navbar {
    padding: 0.3rem 1rem;
  }
  .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    @include hover-focus() {
      color: white;
    }
    &.active {
      color: white;
    }
  }
  + .dona__hero__case {
    // padding-top: 80px;
    // padding-bottom: 60px;
  }

  transform: translateZ(0);
  // @extend .shadow-sm;
  will-change: transform;
  transition: transform 0.5s, background-color 0.2s, backdrop-filter 0.2s;
  &.is-hidden {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.is-scroll {
    background: rgba($pinkmomo, 0.85);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    backdrop-filter: saturate(180%) blur(20px);
  }
}

.nch-content {
  color: gray("800");
  font-size: 17px;
  line-height: 25px;
  p {
  }
}
.nch-title {
  margin-bottom: 30px;
  color: $pinkmomo;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
}

.nch-comment {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  // box-shadow: 0 0 3px rgba(60,72,88,0.2);
  border-radius: 5px;
  padding: 30px 0;
  // margin: 30px 0;

  .content {
    margin-bottom: 8px;
  }
  .author {
    font-weight: bold;
    // color: gray("600");
    color: $pinkmomo;
    &:before {
      content: "-";
      margin-right: 5px;
    }
  }
  @include media-breakpoint-up(md) {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .nch-symbol {
    position: absolute;
    width: 30px;
    svg {
      width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.navbar-lp-open {
  .navbar-donation {
    transform: translateY(0) !important;
  }
}

.bg-donation-banhmi {
  background-size: cover;
  background-color: #e7aeb7;
}

.bg-donation-banhmi {
  position: relative;
  z-index: 1;
  padding: 120px 0 90px;
  .container .row {
    // min-height: 500px;
  }

  @include media-breakpoint-down(sm) {
    .container .row {
      // min-height: 400px;
    }

    padding: 100px 0 70px;
  }
}

.donation-txt2 {
  font-size: 16px;
  line-height: 1.5;
}
