.wrap__scroll__next {
  display: none;
}
@include media-breakpoint-down(sm) {
  .container > .wrap__scroll{
    margin-left: -15px;
    .wrap__scroll__target{
      padding-left: 15px;
    }
  }
  .wrap__scroll {
    position: relative;
    // padding: 0 10px 0 0;
    padding-right: 0;
    position: relative;
    transition: opacity 0.25s;
    &:after {
      content: "";
      z-index: 2;
      display: block;
      position: absolute;
      // background: -webkit-gradient(
      //   linear,
      //   left top,
      //   right top,
      //   from(hsla(0, 0%, 100%, 0)),
      //   to(#fff)
      // );
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        var(--wrap-bg-color) 35%,
        var(--wrap-bg-color) 100%
      );
      top: 0;
      bottom: 0;
      right: -8px;
      width: 45px;
      pointer-events: none;
    }
    &.is-bg-gray {
      background: gray("100");
      &:after {
        background: linear-gradient(
          90deg,
          rgba(gray("100"), 0) 0%,
          rgba(gray("100"), 1) 50%,
          rgba(gray("100"), 1) 100%
        );
      }
    }
    &.is-bg-pink {
      background: #FCEFF4;
      &:after {
        background: linear-gradient(
          90deg,
          rgba(#FCEFF4, 0) 0%,
          rgba(#FCEFF4, 1) 50%,
          rgba(#FCEFF4, 1) 100%
        );
      }
    }

    &.wrap-active {
      .wrap__scroll__next {
        display: flex;
      }
    }
  }

  .wrap__scroll__next {
    display: none;
    position: absolute;
    top: 50%;
   margin-top: -12px;

    right: -8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    // transform: translateY(-50%);
    // top: 50%;
    // margin-top: -12px;
    border-radius: 50%;
    border: 1px solid gray("300");

    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 3;

    .svg-icon {
      width: 17px;
      opacity: 0.9;
    }
    &:after {
      content: "";
      height: 44px;
      position: absolute;
      width: 44px;
      right: 0;
      background: transparent;
    }
    &:hover {
      &:after {
        // background-color: rgba(0,0,255,0.05);
        // border-radius: 5px;
      }
    }

    @include hover-focus() {
    }
  }

  .wrap__scroll__target {
    padding-right: 30px !important;
  }
}

.tabs-soju {
  border: none;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 0;
  overflow-y: hidden;

  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */


  // &.no-scroll{
  //   white-space: nowrap;
  //   overflow: hidden;
  //   display: flex;
  //   flex-flow: row nowrap;
  //   .nav-item{
  //     flex: 1 1 0px;
  //     white-space: normal;
  //   }
  // }

  .nav-item {
    display: inline-block;
    padding: 0 10px;
  }
  .nav-link {
 
    padding: 10px 0;
    display: block;
    border: none;
    background-color: transparent;
    color: gray("800");
    font-weight: bold;
    position: relative;
    margin-bottom: 0;

    @include rfs(17px);
    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      background-color: $pinkmomo;
      bottom: 0;
      left: 0;
      width: 0;
      transition: width 0.2s ease-in-out;
    }
    &.active {
      border: none;
      color: gray("800");
      background-color: transparent;
      &:before {
        width: 100%;
        transition: width 0.35s ease-in-out;
      }
    }

    @include hover-focus() {
      color: $pinkmomo;
    }
  }

  @include media-breakpoint-down(sm) {
    .nav-item {
      display: inline-block;
      padding: 0 15px 0 0;
    }
  }
}

.reason__item__phone{
  @include media-breakpoint-down(sm) {
    img{
      width: 250px;
    }
  }
}

.reason__item {
  position: relative;
  padding: 0 5px;
  // height: 77px;
  // display: flex;
  // align-items: center;
  text-align: center;
  width: 100%;
  // margin-top: 10px;
  margin-bottom: 30px;
  max-width: 140px;
  margin-left: auto;
  margin-right: auto;
  
  &.remove_maxwith {
    max-width: unset;
  }
}

.reason__item__avatar {
  // position: absolute;
  position: relative;
  // margin-bottom: 10px;
  margin : 0 auto 15px;

  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-bottom: 4px;
  // padding-right: 4px;
  background-color: white;
  border-radius: 50%;
  @extend .shadow;
  // transform: rotate(199deg);

  .reason__item__bg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: -6px;
    top: -6px;
    background-size: cover;
    // background-color: white;
    // transform: rotate(0deg);
    // will-change: transform;

    // animation: rotatecw 40s linear infinite 0s;
  }
}



.reason__item__content {
  margin-bottom: 5px;
  width: 100%;
  font-size: 14px;
  // margin-left: 5px;
  // background-color: white;
  // height: 47px;
  // display: flex;
  // align-items: center;
  text-align: center;
  // padding-left: 85px;
  // padding-right: 20px;
  // @extend .shadow-sm;
  // border-radius: 20px;
  line-height: 1.1;
  strong {
    color: $pinkhot;
    font-size: 15px;
    font-weight: bold;
  }
}

.reason__cta{
  position: absolute;
  text-align: center;
  bottom: 20px; 
  width: 100%;
  left: 0;
}

@include media-breakpoint-up(md) {
  .reason__item {
    max-width: 250px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 77px;

    &:first-child{
      margin-top: 0;
    }
    &.remove_maxwith {
      max-width: unset;
      height: unset;
    }
  }

  .reason__item__avatar{
    position: absolute;
    margin-bottom: 0;
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
  }

  .reason__item__content {
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    margin-left: 0;
    padding-left: 85px;
    padding-right: 0;
    border-radius: 0;
    box-shadow: none !important;
    background-color: transparent;

  
  }

  .reason__item__content {
    
    font-size: 15px;
    line-height: 21px;

    strong {
      font-size: 16px;
    }
  }
  .reason__item__left {
    .reason__item {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .reason__item__right {
    .reason__item {
      // justify-content: flex-start;
      margin-left: 0;
    }
    .reason__item__avatar {
      left: auto;
      right: 0;
    }

    .reason__item__content {
      padding-left: 0;
      padding-right: 85px;
      text-align: right;
      justify-content: flex-end;
    }
  }
}

.htw {
  // .htw__item:not(:first-child) {
  //   margin-top: 10px;
  // }

  .htw__item {
    margin-top: 10px;
  }
}

.htw__collpase__bg{
  padding: 15px 0;
  background-color: rgba(255,255,255,0.7);
  position: relative;
  // top: -10px;
  // transition: all 0.2s ease-in;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.htw__item {
  padding: 10px 25px 10px 15px;
  border-radius: 5px;
  @extend .shadow;
  position: relative;
  cursor: pointer;
  &[aria-expanded="true"] {
    .htw__icon {
      transform: rotate(90deg);
    }
  }
}

.htw__icon {
  position: absolute;
  top: 12px;
  // transform: translateY(-50%);
  right: 8px;
}

.newUser-noti {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 8px 15px;
  color: white;
}

.newUser-noti__content {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.uudai__item {
}

.bg-home-3-step {
  background-image: url('../img/momo/bg-taiapp-small-op.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  @include media-breakpoint-up(md) {
    background-image: url('../img/momo/bg-taiapp-medium-op.jpg');
  }
  @include media-breakpoint-up(lg) {
    background-image: url('../img/momo/bg-taiapp-big-op.jpg');
  }
}
