.merchant__hero__container {
  min-height: 400px;
  background-color: $gray-900;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.merchant__hero__blur {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;

  -webkit-mask-image: linear-gradient(to bottom, transparent 50%, #000 75%);
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 60%,
    rgba(0, 0, 0, 0.7) 100%
  );
  z-index: 1;
  user-select: none;
}

.merchant__hero__content{
  flex: 1 1 0px;
  padding: 20px 0;
  color: white;
}

.merchant__avatar {
  border-radius: 5px;
  width: 80px;
  height: 80px;
  padding: 3px;
  background: #fff;
}

.merchant__name{
  font-size: 24px;
  margin-bottom: 5px;
}

.merchant__address{
  color: rgba(255,255,255,0.8)
}