.news__feature__grid {
  display: grid;
  grid-template-areas: "item1 item2" 
  "item1 item3";
  grid-gap: 6px;

//   grid-template-areas:
//     "item1 item2"
//     "item1 item3";

  grid-template-columns: percentage(2/3) 1fr;
  grid-template-rows: 1fr 1fr;
}

.news__feature__item {
  // width: 100%;
//   min-height: 200px;
  &.item1 {
    grid-area: item1;
  }
  &.item2 {
    grid-area: item2;
  }
  &.item3 {
    grid-area: item3;
  }
}
