//
//
// footers.scss
//
//

footer {
  padding: 3.75rem 0;

}

@include media-breakpoint-up(md) {
  footer {
    padding: 6rem 0;
  }
}

@include media-breakpoint-up(lg) {
  footer {
    padding: 7.5rem 0;
  }
}

@include media-breakpoint-up(md) {
  .footer-1 {
    hr {
      margin-top: $spacer * 6;
    }
  }
}



.app-download {
  padding: 0;
  height: 50px;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background: lighten($pinklight, 8%);
  // background: linear-gradient(to top, #a42067, #e82176); /* Standard syntax */
  // color: white;
  color: gray("800");
  z-index: 99;
  display: block;
  transform: translate3d(0, 100%, 0);
  will-change: transform;
  transition: transform 0.1s ease-in;
  opacity: 0;
  &.is-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    .headerstrip__banner-dismiss {
      visibility: visible;
    }
  }

  .headerstrip__banner-dismiss {
    position: absolute;
    right: 10px;
    top: 0;
    fill: gray("600");
    line-height: 50px;
    visibility: hidden;
  }
  // padding-left: 65px;

  @include media-breakpoint-down(sm) {
    padding-right: 5px;
    .headerstrip__banner-dismiss {
      // right: 0;
      // padding-left: 8px;
      // padding-right: 8px;
      right: 1px;
      top: -10px;
      opacity:1;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.7);
      display: block;
      padding: 0;
      display: flex;

      align-content: center;
      justify-content: center;
      svg{
        width: 8px;
        fill: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

// @include media-breakpoint-down(sm) {
//   .app-download {
//     + .footer {
//       padding-bottom: 60px;
//     }
//   }
// }

.app-download__content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // padding-right: 95px;
  height: 50px;
  .tt {
    text-align: left;
    font-size: 15px;
    line-height: 17px;
  }

  .app-download__btn {
    margin-left: 15px;
    white-space: nowrap;
    z-index: 12;
    // position: absolute;
    // // cursor: pointer;
    // right: 0;
    // top: 9px;
  }

  @include media-breakpoint-down(sm) {
    .tt {
      font-size: 13px;
    }
    .app-download__btn{
      top: 11px;
      .btn{
        font-size: 13px;
      }
    }
  }
}

.app-download__btn {
}

.footstrip__banner-dismiss {
  width: 12px;
  display: block;
  height: 12px;
  background: none;
  border: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
  font: inherit;
  height: 100%;
  line-height: 0;
  cursor: pointer;
  outline: inherit;
  opacity: 0.6;
  padding: 0 7px;
  color: white;
  text-decoration: none;

  z-index: 2;
  fill: white;
}

// .app-download__close {
//   position: absolute;
//   cursor: pointer;
//   width: 23px;
//   height: 23px;
//   border-radius: 50%;
//   background-color: gray("800");
//   color: white;
//   fill: white;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   top: -14px;
//   right: 0;
//   border: 1px solid white;
//   svg {
//     width: 15px;
//     height: 15px;
//   }

//   &:before {
//     width: 50px;
//     height: 40px;
//     position: absolute;
//     content: "";
//     right: 0;
//     top: -17px;
//   }
// }
