// 
// 
// sections.scss
//
//

$default-section-padding: 2rem;
$default-section-padding-md: $default-section-padding*1.6;
$default-section-padding-lg: $default-section-padding*2;

section, .section {
    position: relative;
    padding: $default-section-padding 0;
}

@include media-breakpoint-up(md) {
    section, .section {
        padding: $default-section-padding-md 0;
    }
}

@include media-breakpoint-up(lg) {
    section, .section {
        padding: $default-section-padding-lg 0;
    }
}

.section-title{
    margin-bottom: $default-section-padding/1.5;
}

@include media-breakpoint-up(md) {
    .section-title {
        margin-bottom: $default-section-padding;
    }
}

@include media-breakpoint-up(lg) {
    .section-title {
        margin-bottom: $default-section-padding*1.25;
    }
}

[data-overlay]{
    position: relative;
}


.section__title{
    margin-bottom: 35px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-down(sm){
        margin-bottom: 20px;
    }
}

.section__title__heading{

}


.section__title__sub{
    
}