//Customizes the scrollbar style for the document and elements with scrollable overflow, on WebKit platforms.

.custom-scrollbar {
  height: 70px;
  overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1E3F20;
  border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4A7856;
  border-radius: 12px;
}

//Changes the styling of text selection.
::selection {
  background: $primary-3;
  color: white;
}

.custom-text-selection::selection {
  background: deeppink;
  color: white;
}

//Adds a fading gradient to an overflowing element to better indicate there is more content to be scrolled.
.overflow-scroll-gradient {
  position: relative;
}

.overflow-scroll-gradient:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 250px;
  height: 25px;
  background: linear-gradient(transparent, white);
  pointer-events: none;
}

.overflow-scroll-gradient-scroller {
  overflow-y: scroll;
  background: white;
  width: 240px;
  height: 200px;
  padding: 15px;
  line-height: 1.2;
}





// https://www.30secondsofcode.org/css/s/height-transition
