.title-1 {
  font-size: 18px;
}

b,
strong {
  font-weight: bold;
}

.fs-48 {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: -0.02em;
}

.fs-30 {
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.fs-22 {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.02em;
}

.fs-20 {
  font-size: 20px;
  line-height: 30px;
}

.fs-18 {
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

}

.fs-16 {
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */

}

.fs-14 {
  font-size: 14px;
  line-height: 20px;
}

.fs-13 {
  font-size: 13px;
  line-height: 18px;
}

.fs-12 {
  font-size: 12px;
  line-height: 130%;
}

.fs-11 {
  font-size: 11px;
  line-height: 19px;
}

.fs-11 {
  font-size: 10px;
  line-height: 18px;
}


.fw-800 {
  font-weight: 800 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-400 {
  font-weight: 400 !important;
}

.bw-2 {
  border-width: 2px !important;
}

.min-h-4em {
  min-height: 4em;
}
.light-height-1em {
  line-height: 1.4em;
}
.lh-150 {
  line-height: 1.5em;
}
